/* .homediv {
  font-size: 20px;
  margin: 0px;
  margin-top: 100px;
  margin-left: 10px;
} */

/* .homeContainer{

} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.centered2 {
  position: absolute;
  top: 820px;

  left: 50%;
  transform: translate(-50%, -50%);
}
